<div id="signup" class="center">
    <h2>Edit your profile</h2>
    <div id="form">
        <form name="userForm" ng-controller="SettingController" novalidate ng-submit="userForm.$valid && update()">
            <p>
                <label for="firstname">First Name</label><br>
                <input ng-model="user.firstName" type="text" id="firstname" name="firstname">
            </p>

            <p>
                <label for="lastname">Last Name</label><br>
                <input ng-model="user.lastName" type="text" id="lastname" name="lastname">
            </p>

            <p>
                <label for="email">Email</label><br>
                <input data-ng-model="user.email" type="text" id="email" name="email">
            </p>

            <p>
                <label for="username">Username</label><br>
                <input ng-model="user.username" type="text" id="username" name="username" required>
            </p>

            <p>
                <button type="submit">Save profile</button>
            </p>
            <p id="error" ng-show="error">
                <strong data-ng-bind="error"></strong>
            </p>
        </form>
        <p><br></p>
    </div>
</div>
