extends layout

block content
	h1 Login
	p Please login below
	form(method='post',action='/oauth/authorise')
		.form-group
			input.form-control(type='hidden', name='allow', value='yes' )
			input.form-control(type='hidden', name='response_type', value='code' )
			input.form-control(type='hidden', name='client_id', value='#{client_id}' )
			input.form-control(type='hidden', name='redirect_uri', value='#{redirect_uri}' )
		input.btn.btn-default(name='submit', type='submit',value='Allow')