<section>
    <ul class="nav nav-pills">
        <li ng-class="{active: panel.isSelected(1)}">
            <a href ng-click="panel.selectTab(1)">Description</a>
        </li>
        <li ng-class="{active: panel.isSelected(2)}">
            <a href ng-click="panel.selectTab(2)">Spec</a>
        </li>
        <li ng-class="{active: panel.isSelected(3)}">
            <a href ng-click="panel.selectTab(3)">Reviews</a>
        </li>
    </ul>

    <div class="panel" ng-show="panel.isSelected(1)">
        <p>{{product.description}}</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(2)">
        <p>Not yet</p>
    </div>
    <div class="panel" ng-show="panel.isSelected(3)">
        <blockquote ng-repeat="review in product.reviews">
            <b>Stars: {{review.stars}}</b>
            {{review.body}}
            <cite>by {{review.author}}</cite>
        </blockquote>

        <form name="reviewForm" ng-controller="ReviewController as reviewCtrl"
                                ng-submit="reviewForm.$valid && reviewCtrl.addReview(product)" novalidate="">
            <blockquote>
                <b>Stars: {{reviewCtrl.review.stars}}</b>
                {{reviewCtrl.review.body}}
                <cite>by: {{reviewCtrl.review.author}}</cite>
            </blockquote>

            <select ng-model="reviewCtrl.review.stars" required>
                <option value="1">1 star</option>
                <option value="2">2 stars</option>
                <option value="3">3 stars</option>
                <option value="4">4 stars</option>
                <option value="5">5 stars</option>
            </select>
            <br/>
            <textarea ng-model="reviewCtrl.review.body" required></textarea>
            <br/>
            <label>by:</label>
            <input type="email" ng-model="reviewCtrl.review.author" required></input>
            <br/>
            <input ng-model="review.term" type="checkbox"/>I agree to the term
            <br/>
            What color would you like
            <input ng-model="review.color" type="radio" value="red" />Red
            <input ng-model="review.color" type="radio" value="green" />Green
            <input ng-model="review.color" type="radio" value="pink" />Pink
            <br/>
            <input type="submit" value="Submit"/>
        </form>

    </div>
</section>
