<!DOCTYPE html>
<html lang="en" >
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>

    <script src="./bower_components/angular/angular.js"></script>
    <script src="./bower_components/angular-animate/angular-animate.js"></script>
    <script src="./bower_components/angular-aria/angular-aria.js"></script>
    <script type="text/javascript" src="./bower_components/angular-material/angular-material.js"></script>
    <script type="text/javascript" src="./bower_components/angular-messages/angular-messages.js"></script>



  </head>

  <body>

    <div ng-app="MyApp" ng-controller="AppCtrl as ctrl" class="md-padding selectdemoBasicUsage">
      <div>
        <h1 class="md-title">Enter an address</h1>
        <div layout="row">

          <md-input-container>
            <label>Street Name</label>
            <input type="text">
          </md-input-container>

          <!-- <md-input-container>
            <label>City</label>
            <input type="text">
          </md-input-container>

          <md-input-container>
            <label>State</label>
            <md-select ng-model="ctrl.userState">
              <md-option ng-repeat="state in ctrl.states" value="{{state.abbrev}}">{{state.abbrev}}</md-option>
            </md-select>
          </md-input-container> -->

        </div>
      </div>
    </div>

  </body>
</html>
