<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="/css/admin.css">
</head>
<body>

<script type="text/javascript">
    var user = {{ user | json | safe }};
</script>

<div id="container">
    <div class="center header">
        <div class="leftmenu">
            <ul>
                <li><a href="/#!/categories">Categories</a></li>
                <li><a href="/#!/products">Products</a></li>
                <li><a href="/#!/advertise">Advertise</a></li>
                <li><a href="/#!/orders">Carts</a></li>
                <li><a href="/#!/news">News</a></li>
                <li><a href="/#!/product">Setting</a></li>
            </ul>
        </div>

        <div class="rightmenu">
            <a href="/#!/changepassword">[Change password]</a><a href="/admin/logout">[Exit]</a>
        </div>
    </div>

    <section ng-view></section>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="/modules/user/user.client.module.js"></script>
    <script type="text/javascript" src="/modules/user/services/authentication.client.service.js"></script>



    <script type="text/javascript" src="/modules/admin/application.js"></script>

</div>
</body>
</html>