*{
    padding: 0;
    margin: 0;
    box-sizing: border-box ;
}

ul,li{
    list-style: none;
}


body {
    font-size: 14px;
    font-family: arial, sans-serif;
}

.nav {
    font-size: 18px;
    height: 50px;
    background-color: #2F2F2F;
    padding-top: 13px;
    position: absolute;
    top: 0px;
    width: 100%;
}

.nav a {
    text-decoration: none;
    color: #686868;
}

.sign-in{
    float: right;
    margin-right: 6px;
}

.sign-in li {
    display: inline;
}

.center-wrapper {
    margin: 47px auto;
    width: 1141px;
}
