<div class="newproduct" ng-controller="ProductController" ng-init="findCategories()" novalidate ng-submit="myform.$valid && create()">
    <h1>New Product</h1>
    <div>
        <form name="myform">
            <label for="name">Name</label>
            <input ng-model="name" type="text" id="name" name="name" required>
            <br><br>
            <select ng-model="categoryId">
                <option ng-repeat="category in categories" value="{{category._id}}">
                    {{category.name}}
                </option>
            </select>
            <br><br>
            <button type="submit" value="Submit">Submit</button>
        </form>
    </div>
</div>
