<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Webiste</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/menu.css">
</head>
<body>

    <script type="text/javascript">
        var user = {{ user | json | safe }};
    </script>

    <div id="container">
        <section data-ng-include="'/modules/core/views/header.client.view.html'"></section>

        <div id="contain" class="center">
            {% block content %}{% endblock %}
        </div>

    </div>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script type="text/javascript" src="/lib/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="/lib/angular-resource/angular-resource.js"></script>

    <script type="text/javascript" src="/modules/users/user.client.module.js"></script>
    <script type="text/javascript" src="/modules/users/services/authentication.client.service.js"></script>
    <script type="text/javascript" src="/modules/users/config/user.client.route.js"></script>

    <script type="text/javascript" src="/modules/core/core.client.module.js"></script>
    <script type="text/javascript" src="/modules/core/controllers/core.client.controller.js"></script>
    <script type="text/javascript" src="/modules/users/controllers/authentication.client.controller.js"></script>
    <script type="text/javascript" src="/modules/users/controllers/setting.client.controller.js"></script>
    <script type="text/javascript" src="/modules/core/config/core.client.route.js"></script>

    <script type="text/javascript" src="/modules/products/product.client.module.js"></script>
    <script type="text/javascript" src="/modules/products/config/product.client.route.js"></script>
    <script type="text/javascript" src="/modules/products/controllers/product.client.controller.js"></script>

    <script type="text/javascript" src="/application.js"></script>

</body>
</html>
