<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link href="/modules/core/img/brand/favicon.ico" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
<div class="nav">
    <a class="homelink" href="/#!/">HOME</a>
    <ul class="sign-in">
        <li><a href="#">Sign Up</a></li>
        <li><a href="#">Sign In</a></li>
    </ul>
</div>
<section class="center-wrapper">
    {% block content %}{% endblock %}
</section>
</body>
</html>
