<div id="header" ng-controller="CoreController">
    <div id="menu" class="center">
        <div id="menuleft">
            <a href="/">MEAN</a>
        </div>
        <div id="products" class="menu" data-ng-show="authentication.user">
            <ul class="clearfix">
                <li>
                    <a href="/#!/">Category<span class="arrow">&#9660;</span></a>
                    <div class="sss">
                        <ul class="sub-menu">
                            <li><a href="/#!/categories">List Categories</a></li>
                            <li><a href="/#!/categories/create">New Category</a></li>
                        </ul>
                    </div>
                </li>

                <li>
                    <a href="/#!/">Products<span class="arrow">&#9660;</span></a>
                    <div class="sss">
                        <ul class="sub-menu">
                            <li><a href="/#!/products">List Products</a></li>
                            <li><a href="/#!/products/create">New Product</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
        <ul id="menuright" data-ng-show="!authentication.user">
            <li><a href="/#!/signup">Sign Up</a></li>
            <li><a href="/#!/signin">Sign In</a></li>
        </ul>
        <div id="setting" class="menu" data-ng-show="authentication.user">
            <ul class="clearfix">
                <li>
                    <a href="/#!/"><span ng-bind="authentication.user.firstName"></span><span class="arrow">&#9660;</span></a>
                    <div class="sss">
                        <ul class="sub-menu">
                            <li><a href="/#!/settings/profile">Edit Profile</a></li>
                            <li><a href="/#!/settings/accounts">Social Accounts</a></li>
                            <li data-ng-show="authentication.user.provider === 'local'">
                                <a href="/#!/settings/password">Change Password</a>
                            </li>
                            <li><a href="/auth/signout">Signout</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
