<div id="contain1">
    <img src="/images/logo.png">
    <p id="text">Open-Source Full-Stack Solution For MEAN Applications</p>
    <p id="learnmore">
        <a id="button" target="_blank" href="http://meanjs.org">Learn more</a>
    </p>
</div>

<div id="contain2">
    <p id="first">Congrats! You've configured and run the sample application.</p>
    <p>MEAN.JS is a web application boilerplate, which means you should start changing everything :-)</p>
    <p>This sample application tracks users and articles.</p>
    <ul>
        <li>Click Signup to get started. </li>
        <li>Configure your app to work with your social accounts, by editing the /config/env/*.js files. </li>
        <li>Edit your users module. </li>
    </ul>
</div>

<div id="contain3">

    <div class="module">
        <h2>MongoDB</h2>
        <a href="http://mongodb.org/" target="_blank">MongoDB</a>
        is a database. MongoDB's
        <a href="http://docs.mongodb.org/manual/" target="_blank">great manual</a>
        is the place to get started with NoSQL and MongoDB.
    </div>

    <div class="module">
        <h2>
            <strong>E</strong>xpress
        </h2>
        <p><a href="http://expressjs.com/" target="_blank"> Express</a> is an app server. Check out <a href="http://expressjs.com/guide.html" target="_blank">The Express Guide</a> or <a href="http://stackoverflow.com/questions/8144214/learning-express-for-node-js" target="_blank">StackOverflow</a> for more info.</p>
    </div>

    <div class="module">
        <h2>
            <strong>A</strong>ngularJS
        </h2>
        <p>AngularJS is web app framework. <a href="http://angularjs.org/" target="_blank">Angular's website</a> offers a lot. The <a href="http://www.thinkster.io/" target="_blank">Thinkster Popular Guide</a> and <a href="https://egghead.io/" target="_blank">Egghead Videos</a> are great resources.</p>
    </div>

    <div class="module">
        <h2>
            <strong>N</strong>ode.js
        </h2>
        <p><a href="http://nodejs.org/" target="_blank">Node.js</a> is a web server. Node's website and this <a href="http://stackoverflow.com/questions/2353818/how-do-i-get-started-with-node-js" target="_blank">stackOverflow thread</a> offer excellent starting points to get to grasps with node.</p>
    </div>
</div>

<div id="contain4">
    <h2>MEAN.JS Documentation</h2>
    <p>
        Once you're familiar with the foundation technology, check out the MEAN.JS Documentation:
    </p>
    <ul>
        <li>
            <a href="http://meanjs.org/docs.html" target="_blank">MEAN.JS Documentation</a>
        </li>
        <li>
            <a href="http://meanjs.org/generator.html" target="_blank">Yeoman Generator</a>
        </li>
        <li>
            <a href="http://meanjs.org/modules.html" target="_blank">Modules</a>
        </li>
        <li>
            <a href="http://meanjs.org/changelog.html" target="_blank">Changelog</a>
        </li>
        <li>
            <a href="http://meanjs.org/community.html" target="_blank">Community</a>
        </li>
        <li>
            <a href="http://blog.meanjs.org" target="_blank">Blog</a>
        </li>
    </ul>
</div>
